venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

build/
build-*/
out/
bin/

*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

.vscode/
Thumbs.db
.DS_Store